<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Узнать стоимость авто</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<form action="/vehicle" method="post">
    <p>Наименование: <input type="text" name="name"  value="{{name}}" spellcheck="false" autocomplete="off"></p>
    <p class="error">{{error}}</p>
    <input class="btn-class submit-btn" type="submit" value="Узнать">
</form>
</body>
</html>
