<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Машина</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

<h3>Стоимость машины "{{name}}": {{price}}</h3>
<input class="btn-class blue-btn" type="button" onclick="location.href='/';" value="Назад" />


</body>
</html>