<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<bodystyle="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background: rgb(40, 40, 40); color: darkgray">

<h1>{{login}}</h1>

Hobby: {{hobby}}
<br>
<br>
Age: {{age}}
<br>
<br>
<div id="quit-btn" class="btn-class">quit</div>

<script src="/quit.js"></script>
    
</body>
</html>