body {
    padding: 30px;
    background: rgb(40, 40, 40);
    color: lightgray;
    font-family: 'Times New Roman', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.btn-class {
    padding: 6px;
    background: ghostwhite;
    color: rebeccapurple;
    cursor: pointer;
    display: inline-block;
}

.input-class {
    background-color: rgb(30, 30, 30); /* Цвет фона */
    color: lightgray; /* Цвет текста */
}